
/SymbolBrowser/SymbolBrowser.suo
/SymbolBrowser/SymbolBrowser/bin/Debug/SymbolBrowser.dll
/SymbolBrowser/SymbolBrowser/bin/Debug/SymbolBrowser.pdb
/SymbolBrowser/SymbolBrowser/bin/Debug/SymbolBrowser.pkgdef
/SymbolBrowser/SymbolBrowser/bin/Debug/SymbolBrowser.vsix
/SymbolBrowser/SymbolBrowser/bin/Debug/extension.vsixmanifest
/SymbolBrowser/SymbolBrowser/bin/Debug/temp.log
/SymbolBrowser/SymbolBrowser/obj/Debug/CtoResourceMerger.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/GenerateResource.read.1.tlog
/SymbolBrowser/SymbolBrowser/obj/Debug/GenerateResource.write.1.tlog
/SymbolBrowser/SymbolBrowser/obj/Debug/Microsoft.SymbolBrowser.Resources.resources
/SymbolBrowser/SymbolBrowser/obj/Debug/MyControl.baml
/SymbolBrowser/SymbolBrowser/obj/Debug/MyControl.g.cs
/SymbolBrowser/SymbolBrowser/obj/Debug/MyControl.g.i.cs
/SymbolBrowser/SymbolBrowser/obj/Debug/ResolveAssemblyReference.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.csproj.FileListAbsolute.txt
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.csproj.ResolveComReference.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.csproj.VsixDeployedFileListAbsolute.txt
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.cto
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.dll
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.g.resources
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.latest.pkgdef
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.pdb
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser.pkgdef
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser_MarkupCompile.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/SymbolBrowser_MarkupCompile.i.cache
/SymbolBrowser/SymbolBrowser/obj/Debug/TempPE/Resources.Designer.cs.dll
/SymbolBrowser/SymbolBrowser/obj/Debug/VSCT.read.1.tlog
/SymbolBrowser/SymbolBrowser/obj/Debug/VSCT.write.1.tlog
/SymbolBrowser/SymbolBrowser/obj/Debug/VSPackage.resources
/SymbolBrowser/SymbolBrowser/obj/Debug/VSPackage.resources.original
/SymbolBrowser/SymbolBrowser/obj/Debug/extension.vsixmanifest
/ASPMVCIntegration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ASPMVCSampleApplication40/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ASPMVCSampleLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DesignerTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NDjango40.sln.docstates.suo
/NDjango40.suo
/NDjangoDesigner/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NDjangoParserFilters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NDjangoUnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TemplateViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache