/_ReSharper*
*/bin/*
*/obj/*
*.suo
*.user
/*/_ReSharper*
*/*/bin/*
*/*/obj/*
/NDjangoSetupWiX/_UpgradeReport_Files/UpgradeReport.css
/NDjangoSetupWiX/_UpgradeReport_Files/UpgradeReport.xslt
/NDjangoSetupWiX/_UpgradeReport_Files/UpgradeReport_Minus.gif
/NDjangoSetupWiX/_UpgradeReport_Files/UpgradeReport_Plus.gif
/NDjangoSetupWiX/~$w to release NDjango.doc
/NDjangoSetupWiX/~WRL1552.tmp
/NuGet/NDjango/lib/Net40/ASPMVCIntegration.NDjangoExtension40.dll
/NuGet/NDjango/lib/Net40/ASPMVCSampleLibrary.NDjangoExtension40.dll
/NuGet/NDjango/lib/Net40/NDjango.Core40.dll
/NuGet/NDjango/lib/Net40/NDjangoFilters.NDjangoExtension40.dll
/NuGet/NDjango/tools/NDjango.Designer.vsix
/NuGet/log
/NuGet/log_error
/NuGet/ndjango.1.0.0.0.nupkg