<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="0.9.8.1" ?>
  <?define ProductVersionTitle="0.9.8.1" ?>
  <?define VisualStudioRegistryRoot2008 = "Software\Microsoft\VisualStudio\9.0" ?>
  <?define UpgradeCode="{9EAD0F41-F6BB-4FDD-B2C3-2C8D3AFD5F47}"?>
  <Product Id="8BED10DF-FD7C-4C63-95D2-736C4F2D3C38" Name="NDjango $(var.ProductVersionTitle) for Visual Studio 2008/2010" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Hill30" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="0.9.0.0" IncludeMinimum="yes" Maximum="99.0.0.0" IncludeMaximum="yes" Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>
    <Property Id="EXTENSIONSHILL30FILES">
      <DirectorySearch Id="hill30filessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Hill30\" />
    </Property>
    <Property Id="VS10FILES">
      <DirectorySearch Id="extensionsfilessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\" />
    </Property>
    <Property Id="VS2008FOUND">
      <RegistrySearch Id="VS2008found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0" Name="InstallDir" />
    </Property>
    <Property Id="VS2010FOUND">
      <RegistrySearch Id="VS2010found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0" Name="InstallDir" />
    </Property>
    <Property Id="NDJANGO08FOUND">
      <RegistrySearch Id="NDjango08found" Type="raw" Root="HKLM" Key="SOFTWARE\Hill30\NDjango" Name="InstallDir2008" />
    </Property>
    <Property Id="NDJANGO10FOUND">
      <RegistrySearch Id="NDjango10found" Type="raw" Root="HKLM" Key="SOFTWARE\Hill30\NDjango" Name="InstallDir2010" />
    </Property>
    <Property Id="MVCFOUND">
      <RegistrySearch Id="MVCfound" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\ASP.NET MVC 2\Runtime" Name="InstallPath" />
    </Property>
    <Property Id="MVCTOOLS2008SFOUND">
      <RegistrySearch Id="MVCTools2008found" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\ASP.NET MVC 2\Visual Studio 2008" Name="InstallPath" />
    </Property>
    <Property Id="MVC3TOOLS2010FOUND">
      <RegistrySearch Id="MVC3Tools2010found" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\ASP.NET MVC 3\Visual Studio 2010" Name="InstallPath" />
    </Property>
    <Property Id="VS2008PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="UserProjectTemplatesLocation" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="VS2010PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="UserProjectTemplates2010Location" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="VS2010ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="UserItemTemplates2010Location" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserItemTemplatesLocation" />
    </Property>
    <Property Id="VS2008ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="UserItemTemplatesLocation" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserItemTemplatesLocation" />
    </Property>
    <Property Id="ENVDIR_2008">
      <RegistrySearch Id="RL_EnvironmentDir_2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>
    <Property Id="ENVDIR_2010">
      <RegistrySearch Id="RL_EnvironmentDir_2010" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>
    <Property Id="DEVENV_EXE_PATH2008">
      <RegistrySearch Id="RegSearch_DevenvExe_Path2008" Root="HKLM" Key="$(var.VisualStudioRegistryRoot2008)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL" />
    <!--<Condition Message="You have previous version of NDjango (2008,2010) installed. Please uninstall all previous versions of NDjango and  run this installer again.">Installed OR (NOT NDJANGO08FOUND AND NOT NDJANGO10FOUND)</Condition>-->
    <Condition Message="This application requires Visual Studio 2008/2010. Please install the Visual Studio 2008/2010 then run this installer again.">Installed OR VS2008FOUND OR VS2010FOUND</Condition>
    <Condition Message="This application requires .NET Framework 3.5SP1. Please install the .NET Framework 3.5SP1 then run this installer again."><![CDATA[Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")]]></Condition>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" Overridable="yes" />
    <WixVariable Id="WixUIBannerBmp" Value="bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bitmaps\dlgbmp.bmp" />
    <WixVariable Id="WixUICostingPopupOptOut" Value="1" Overridable="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="VS10FILES" >
        <Directory Id="EXTENSIONSFILES" Name="Extensions">
          <Directory Id="EXTENSIONSHILL30" Name="Hill30"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Hill30" Name="Hill30">
          <Directory Id="INSTALLDIR" Name="NDjango">
            <Directory Id="NET35" Name=".NET35">
              <Component Id="NDjangoAssemblies2008" Guid="94965855-72E6-4B54-AA9F-E1DB5263F89D">
                <File Id="ASPMVCIntegration.NDjangoExtension35.dll" Name="ASPMVCIntegration.NDjangoExtension35.dll" Source="lib\2008\ASPMVCIntegration.NDjangoExtension35.dll" />
                <File Id="NDjango.Core35.dll" Name="NDjango.Core35.dll" Source="lib\2008\NDjango.Core35.dll" />
                <File Id="NDjango.Filters35.dll" Name="NDjangoFilters.NDjangoExtension35.dll" Source="lib\2008\NDjangoFilters.NDjangoExtension35.dll" />
                <File Id="ASPMVCSampleLibrary.NDjangoExtension35.dll" Name="ASPMVCSampleLibrary.NDjangoExtension35.dll" Source="lib\2008\ASPMVCSampleLibrary.NDjangoExtension35.dll" />
                <RegistryValue Root="HKLM" Key="Software\Hill30\NDjango" Name="InstallDir2008" Type="string" Value="[NET35]" KeyPath="yes" />
              </Component>
              <Component Id="ThirdPartyComponents2008" Guid="B5E34D54-3914-4851-8602-19311D415912">
                <File Id="StructureMap2008.dll" Name="StructureMap.dll" Source="lib\StructureMap.dll" />
              </Component>
            </Directory>
            <Directory Id="NET40" Name=".NET40">
              <Component Id="NDjangoAssemblies2010" Guid="322925F0-84C3-41EC-ACE8-D238D3CBF2ED">
                <File Id="NDJANGODESIGNER" Name="NDjango.Designer.vsix" Source="lib\NDjango.Designer.vsix" />
                <File Id="ASPMVCIntegration.NDjangoExtension40.dll" Name="ASPMVCIntegration.NDjangoExtension40.dll" Source="lib\2010\ASPMVCIntegration.NDjangoExtension40.dll" />
                <!--File Id="NDjango.BistroIntegration.dll" Name="$(var.BistroIntegration.TargetFileName)" Source="$(var.BistroIntegration.TargetPath)" /-->
                <!--File Id="Castle.Monorail.Views.NDjangoView.dll" Name="$(var.Castle.Monorail.Views.NDjangoView.TargetFileName)" Source="$(var.Castle.Monorail.Views.NDjangoView.TargetPath)" /-->
                <File Id="NDjango.Core40.dll" Name="NDjango.Core40.dll" Source="lib\2010\NDjango.Core40.dll" />
                <File Id="ASPMVCSampleLibrary.NDjangoExtension40.dll" Name="ASPMVCSampleLibrary.NDjangoExtension40.dll" Source="lib\2010\ASPMVCSampleLibrary.NDjangoExtension40.dll" />
                <File Id="NDjango.Filters40.dll" Name="NDjangoFilters.NDjangoExtension40.dll" Source="lib\2010\NDjangoFilters.NDjangoExtension40.dll" />
                <RegistryValue Root="HKLM" Key="Software\Hill30\NDjango" Name="InstallDir2010" Type="string" Value="[NET40]" KeyPath="yes" />
              </Component>
              <Component Id="ThirdPartyComponents2010" Guid="1231329B-3AA0-4D86-9BCA-3608320C65E5">
                <File Id="StructureMap2010.dll" Name="StructureMap.dll" Source="lib\StructureMap.dll" />
              </Component>
            </Directory>
            <Component Id="Readme" Guid="437A42DC-2097-4AA7-A838-34A0A1E891CD">
              <File Id="Readme.txt" Name="Readme.txt" Source="Readme.txt" />
            </Component>
            <Component Id="ReleaseNotes" Guid="154B27F5-663B-4652-8CF6-99171F3911A1">
              <File Id="ReleaseNotes.htm" Name="ReleaseNotes.htm" Source="..\ReleaseNotes.htm" />
            </Component>

          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2008ITEMTEMPLATESLOCATION">
        <Directory Id="vs2008CSharpItem" Name="Visual C#">
          <Directory Id="vs2008Web1Item" Name="Web">
            <Component Id="ItemTemplates2008" Guid="27EF94C3-D513-4D79-B1BE-9401266B4319">
              <RemoveFolder Id="vs2008Web1Item" Directory="vs2008Web1Item" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\Hill30\NDjango\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <File Id="NDjangoTemplate" Name="NDjangoTemplate2008.zip" Source="Templates\2008\NDjangoTemplate.zip" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2008PROJECTTEMPLATESLOCATION">
        <Directory Id="vs2008CSharp" Name="Visual C#">
          <Directory Id="vs2008Web1" Name="Web">
            <Component Id="ProjectTemplates2008" Guid="F12101E4-615A-418F-9665-1D5C7B4ED5B8">
              <RemoveFolder Id="vs2008Web1" Directory="vs2008Web1" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\Hill30\NDjango\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <File Id="NDjangoMVC" Name="ASPMVCSampleApplication35.zip" Source="Templates\2008\ASPMVCSampleApplication35.zip" />
              <File Id="NDjangoMVCEmpty" Name="ASPMVCEmptyApplication35.zip" Source="Templates\2008\ASPMVCEmptyApplication35.zip" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2010PROJECTTEMPLATESLOCATION">
        <Directory Id="vs2010CSharpProject" Name="Visual C#">
          <Directory Id="vs2010Web1Project" Name="Web">
            <Component Id="ProjectTemplates2010" Guid="5C719ECB-EFBF-474A-9BD5-A4AE67794048">
              <RemoveFolder Id="vs2010Web1Project" Directory="vs2010Web1Project" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\Hill30\NDjango\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <File Id="NDjangoASPMVC40" Name="ASPMVCSampleApplication40.zip" Source="Templates\2010\ASPMVCSampleApplication40.zip" />
              <File Id="NDjangoASPMVC40Empty" Name="ASPMVCEmptyApplication40.zip" Source="Templates\2010\ASPMVCEmptyApplication40.zip" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2010ITEMTEMPLATESLOCATION">
        <Directory Id="vs2010CSharpItem" Name="Visual C#">
          <Directory Id="vs2010Web1Item" Name="Web">
            <Component Id="ItemTemplates2010" Guid="E67EC059-FA15-4908-85F3-16CE83DDF97D">
              <RemoveFolder Id="vs2010Web1Item" Directory="vs2010Web1Item" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\Hill30\NDjango\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <File Id="NDjangoTemplate2010" Name="NDjangoTemplate2010.zip" Source="Templates\2010\NDjangoTemplate.zip" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ENVDIR_2010" Name="EnvDir2010">
        <Directory Id="ItemTemplates2010" Name="ItemTemplates">
          <Directory Id="CSharpItemtemplates" Name="CSharp">
            <Directory Id="CSharpWeb" Name="Web">
              <Directory Id="MVC3templ" Name="MVC 3">
                <Directory Id="MVC3CodeTemplates" Name="CodeTemplates">
                  <Directory Id="AddViewtempl" Name="AddView">
                    <Directory Id="DjangoViewEngineDir" Name="DjangoViewEngine">
                      <Component Id="ASPMVC3Integration_AddView" Guid ="F1921F58-A6EF-4644-8AEA-F865D1E138F8">
                        <RemoveFolder Id="RemDjangoViewEngineDir" Directory="DjangoViewEngineDir" On="uninstall" />
                        <File Id="ViewEngineDefinition" Name="ViewEngine.xml" Source="Templates\2010\MVC 3 - Add View\DjangoViewEngine\ViewEngine.xml" />
                        <File Id="EmptyT4" Name="Empty.tt" Source="Templates\2010\MVC 3 - Add View\DjangoViewEngine\Empty.tt"/>
                      </Component>
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Component Id="RegisterDjangoExtensionForHTMLEditor2008" Guid="02D1F592-DC45-4019-9551-9CDFC6F43F4F">
          <RegistryKey Key="Software\Microsoft\VisualStudio\9.0\Default Editors\django" Root="HKCU">
            <RegistryValue Name="Custom" Value="{C76D83F8-A489-11D0-8195-00A0C91BBEE3}" Type="string" />
            <RegistryValue Name="Type" Value="1" Type="integer" />
          </RegistryKey>
          <RegistryKey Key="Software\Microsoft\VisualStudio\9.0\FileExtensionMapping\django" Root="HKCU">
            <RegistryValue Name="(Default)" Value="{C76D83F8-A489-11D0-8195-00A0C91BBEE3}" Type="string" />
            <RegistryValue Name="LogViewID" Value="{00000000-0000-0000-0000-000000000000}" Type="string" />
          </RegistryKey>
        </Component>
        <Component Id="RegisterDjangoExtensionForHTMLEditor2010" Guid="67F38316-7034-4be6-8D74-79BC476A91F4">
          <RegistryKey Key="Software\Microsoft\VisualStudio\10.0\Default Editors\django" Root="HKCU">
            <RegistryValue Name="Custom" Value="{C76D83F8-A489-11D0-8195-00A0C91BBEE3}" Type="string" />
            <RegistryValue Name="Type" Value="1" Type="integer" />
          </RegistryKey>
          <RegistryKey Key="Software\Microsoft\VisualStudio\10.0\FileExtensionMapping\django" Root="HKCU">
            <RegistryValue Name="(Default)" Value="{C76D83F8-A489-11D0-8195-00A0C91BBEE3}" Type="string" />
            <RegistryValue Name="LogViewID" Value="{00000000-0000-0000-0000-000000000000}" Type="string" />
          </RegistryKey>
        </Component>
      </Directory>
    </Directory>
    <Property Id="TEMPLATESNEEDED" />
    <Property Id="DESIGNERNEEDED" />
    <Feature Id="InstallTemplates2008" Level="1">
      <Condition Level="0"><![CDATA[VS2008FOUND = NULL]]></Condition>
      <ComponentRef Id="ProjectTemplates2008" />
      <ComponentRef Id="ItemTemplates2008" />
    </Feature>
    <Feature Id="ProductFeature2008" Level="1">
      <Condition Level="0"><![CDATA[VS2008FOUND = NULL]]></Condition>
      <ComponentRef Id="NDjangoAssemblies2008" />
      <ComponentRef Id="RegisterDjangoExtensionForHTMLEditor2008" />
      <ComponentRef Id="ThirdPartyComponents2008" />
    </Feature>
    <Feature Id="InstallTemplates2010" Level="1">
      <Condition Level="0"><![CDATA[VS2010FOUND = NULL]]></Condition>
      <ComponentRef Id="ProjectTemplates2010"/>
      <ComponentRef Id="ItemTemplates2010" />
    </Feature>
    <Feature Id="ProductFeature2010" Level="1">
      <Condition Level="0"><![CDATA[VS2010FOUND = NULL]]></Condition>
      <ComponentRef Id="RegisterDjangoExtensionForHTMLEditor2010" />
      <ComponentRef Id="NDjangoAssemblies2010" />
      <ComponentRef Id="ThirdPartyComponents2010" />
    </Feature>
    <Feature Id="AddViewIntegration" Level="1">
      <Condition Level="0"><![CDATA[MVC3TOOLS2010FOUND = NULL]]></Condition>
      <ComponentRef Id="ASPMVC3Integration_AddView"></ComponentRef>
    </Feature>
    <Feature Id="SampleLibrarySRC" Level="1" ConfigurableDirectory="INSTALLDIR" Title="Source Code">
      <ComponentGroupRef Id="group_SampleLibrary"/>
    </Feature>

    <Feature Id="Documentation" Level="1">
      <ComponentRef Id="Readme" />
      <ComponentRef Id="ReleaseNotes" />
    </Feature>

    <Property Id="VSIX_PATH"/>
    <CustomAction  Id="SetVSIXPath"  Property="VSIX_PATH" Value="[ENVDIR_2010]\vsixinstaller.exe"/>
    <CustomAction Id="InstallDesigner" Property="VSIX_PATH" ExeCommand="&quot;[NET40]\NDjango.Designer.vsix&quot; /q" Return="ignore" Execute="deferred" />
    <CustomAction Id="UninstallDesignerFiles" Directory="EXTENSIONSHILL30" ExeCommand="&quot;cmd.exe&quot; /c rmdir /s /q &quot;NDjango Template Editor&quot;" Return="ignore" />

    <Binary Id="EditTemplates" SourceFile="versionWriterFull.exe" />
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[VS2008PROJECTTEMPLATESLOCATION]\Visual C#\Web\ASPMVCSampleApplication35.zip&quot; &quot;[Hill30]Bistro&quot; &quot;[NET35]\&quot; &quot;[NET40]\&quot; &quot;[Hill30]ProjectExtender&quot;" Id="EditNDjangoMVCTemplate2008" Return="ignore" Execute="commit"/>
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[VS2010PROJECTTEMPLATESLOCATION]\Visual C#\Web\ASPMVCSampleApplication40.zip&quot; &quot;[Hill30]Bistro&quot; &quot;[NET35]\&quot; &quot;[NET40]\&quot; &quot;[Hill30]ProjectExtender&quot;" Id="EditNDjangoMVCTemplate2010" Return="ignore" Execute="commit"/>
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[VS2008PROJECTTEMPLATESLOCATION]\Visual C#\Web\ASPMVCEmptyApplication35.zip&quot; &quot;[Hill30]Bistro&quot; &quot;[NET35]\&quot; &quot;[NET40]\&quot; &quot;[Hill30]ProjectExtender&quot;" Id="EditNDjangoMVCEmptyTemplate2008" Return="ignore" Execute="commit"/>
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[VS2010PROJECTTEMPLATESLOCATION]\Visual C#\Web\ASPMVCEmptyApplication40.zip&quot; &quot;[Hill30]Bistro&quot; &quot;[NET35]\&quot; &quot;[NET40]\&quot; &quot;[Hill30]ProjectExtender&quot;" Id="EditNDjangoMVCEmptyTemplate2010" Return="ignore" Execute="commit"/>

    <CustomAction Id="CA_DevenvSetup2008" Property="DEVENV_EXE_PATH2008" ExeCommand="/setup" Impersonate="no" Execute="commit" />

    <InstallExecuteSequence>
      <Custom Action="SetVSIXPath" Before="InstallFinalize"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND DESIGNERNEEDED]]></Custom>
      <Custom Action="InstallDesigner" After="SetVSIXPath"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND DESIGNERNEEDED]]></Custom>
      <Custom Action="EditNDjangoMVCTemplate2008" After="WriteRegistryValues"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND VS2008FOUND]]></Custom>
      <Custom Action="EditNDjangoMVCEmptyTemplate2008" After="EditNDjangoMVCTemplate2008"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND VS2008FOUND]]></Custom>
      <Custom Action="EditNDjangoMVCTemplate2010" After="EditNDjangoMVCEmptyTemplate2008"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND VS2010FOUND]]></Custom>
      <Custom Action="EditNDjangoMVCEmptyTemplate2010" After="EditNDjangoMVCTemplate2010"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND VS2010FOUND]]></Custom>
      <Custom Action="UninstallDesignerFiles" After="InstallInitialize"><![CDATA[REMOVE]]></Custom>
      <RemoveExistingProducts After="InstallInitialize" />

    </InstallExecuteSequence>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlgCustom" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlgCustom">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlgCustom">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID="1"]]></Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlgCustom" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />
      <Dialog Id="WelcomeDlgCustom" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="135" Y="145" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" />
        <Control Type="Text" Width="220" Height="60" X="135" Y="116" Id="FSharpNOTE" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}NOTE: This application requires FSharp 2.0/4.0 and FSharp PowerPack 1.9.9.9" Hidden="no" />
        <Control Type="Text" Id="Note" Width="192" Height="22" X="135" Y="79" Transparent="yes">
          <Text>This application was developed for using with .NET Framework 3.5/4.0 and Visual Studio 2008/2010</Text>
        </Control>
      </Dialog>
      <Dialog Id="InstallDirDlgCustom" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="AddLocal" Value="ALL">1</Publish>
          <Publish Event="Remove" Value="InstallTemplates2008"><![CDATA[ VS2008FOUND AND (TEMPLATESNEEDED <> "1" OR MVCTOOLS2008SFOUND = NULL)]]></Publish>
          <Publish Event="Remove" Value="InstallTemplates2010"><![CDATA[ VS2010FOUND AND (TEMPLATESNEEDED <> "1")]]></Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgTitle)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes" Text="!(loc.InstallDirDlgFolderLabel)" />
        <Control Id="Folder" Type="PathEdit" X="20" Y="100" Width="320" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes">
        </Control>
        <Control Id="ChangeFolder" Type="PushButton" X="20" Y="120" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)">
        </Control>
        <Control Type="CheckBox" Id="TemplatesCheckBox" Width="317" Height="17" X="22" Y="149" CheckBoxValue="1"  Property="TEMPLATESNEEDED" Text="Install NDjango templates (ASP.NET MVC 2 Visual Studio Integration is required)">
          <Condition Action="enable"><![CDATA[(MVCTOOLS2008SFOUND <> NULL) OR (VS2010FOUND <> NULL)]]></Condition>
          <Condition Action="disable"><![CDATA[(MVCTOOLS2008SFOUND = NULL AND VS2010FOUND = NULL) ]]></Condition>
        </Control>
        <Control Type="CheckBox" Id="DesignerCheckBox" Width="230" Height="17" X="22" Y="169" Property="DESIGNERNEEDED" CheckBoxValue="1" Text="Install NDjango Designer for Visual Studio 2010">
          <Condition Action="enable"><![CDATA[ VS2010FOUND <> NULL ]]></Condition>
          <Condition Action="disable"><![CDATA[ VS2010FOUND = NULL ]]></Condition>
        </Control>
      </Dialog>
      <InstallUISequence>
        <Show Dialog="WelcomeDlgCustom" Before="ProgressDlg">NOT Installed</Show>
      </InstallUISequence>
    </UI>
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>