<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define ProductVersion="0.9.7" ?>
    <?define ProductVersionTitle="0.9.7" ?>
    <?define UpgradeCode="{8EAD0F41-F6BB-4FDD-B2C3-2C8D3AFD5F47}"?>
    <Product Id="74ACC0DC-513A-449D-A2EB-99DD75FEF570" Name="NDjango $(var.ProductVersionTitle) for Visual Studio 2008" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Hill30" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
        <Upgrade Id="$(var.UpgradeCode)">
            <!--<UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWPRODUCTFOUND" />-->
            <UpgradeVersion Minimum="0.8.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" Language="1033" Property="UPGRADEFOUND" />
        </Upgrade>
        <Property Id="EXTENSIONSHILL30FILES">
            <DirectorySearch Id="hill30filessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Hill30\" />
        </Property>
        <Property Id="EXTENSIONSFILES">
            <DirectorySearch Id="extensionsfilessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\" />
        </Property>
        <Property Id="VS2008FOUND">
            <RegistrySearch Id="VS2008found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0" Name="InstallDir" />
        </Property>
        <Property Id="VS2010FOUND">
            <RegistrySearch Id="VS2010found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0" Name="InstallDir" />
        </Property>
        <Property Id="MVCFOUND">
            <RegistrySearch Id="MVCfound" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\ASP.NET MVC 2\Runtime" Name="InstallPath" />
        </Property>
        <Property Id="MVCTOOLS2008SFOUND">
            <RegistrySearch Id="MVCTools2008found" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\ASP.NET MVC 2\Visual Studio 2008" Name="InstallPath" />
        </Property>
        <Property Id="VS2008PROJECTTEMPLATESLOCATION">
            <RegistrySearch Id="UserProjectTemplatesLocation" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserProjectTemplatesLocation" />
        </Property>
        <Property Id="VS2010PROJECTTEMPLATESLOCATION">
            <RegistrySearch Id="UserProjectTemplates2010Location" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserProjectTemplatesLocation" />
        </Property>
        <Property Id="VS2008ITEMTEMPLATESLOCATION">
            <RegistrySearch Id="UserItemTemplatesLocation" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserItemTemplatesLocation" />
        </Property>
        <Property Id="ENVDIR_2008">
            <RegistrySearch Id="RL_EnvironmentDir_2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
        </Property>
        <Property Id="ENVDIR_2010">
            <RegistrySearch Id="RL_EnvironmentDir_2010" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
        </Property>
        <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL" />
        <Condition Message="This application requires Visual Studio 2008. Please install the Visual Studio 2008 then run this installer again.">Installed OR VS2008FOUND</Condition>
        <Condition Message="This application requires .NET Framework 3.5SP1. Please install the .NET Framework 3.5SP1 then run this installer again."><![CDATA[Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")]]></Condition>
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" Overridable="yes" />
        <WixVariable Id="WixUIBannerBmp" Value="bitmaps\bannrbmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="bitmaps\dlgbmp.bmp" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="EXTENSIONSFILES">
                <Directory Id="EXTENSIONSHILL30" Name="Hill30">
                    <Directory Id="NDJANGODESIGNER" Name="NDjangoDesigner">
                        <Component Id="NDjangoDesignerFiles" Guid="AB90C8A8-63BE-4D5E-BACB-9FA941CD0C7C">
                            <File Id="NDjango.Designer.dll" Name="NDjango.Designer.dll" Source="EditorFiles\NDjango.Designer.dll" DiskId="1" />
                            <File Id="DESIGNER_NDjangoFilters.NDjangoExtension.dll" Name="NDjangoFilters.NDjangoExtension.dll" Source="EditorFiles\NDjangoFilters.NDjangoExtension.dll" DiskId="1" />
                            <File Id="ESIGNER_NDjango.Core.dll" Name="NDjango.Core.dll" Source="EditorFiles\NDjango.Core.dll" DiskId="1" />
                            <File Id="FSharp.PowerPack.Compatibility.dll" Name="FSharp.PowerPack.Compatibility.dll" Source="EditorFiles\FSharp.PowerPack.Compatibility.dll" DiskId="1" />
                            <File Id="FSharp.PowerPack.dll" Name="FSharp.PowerPack.dll" Source="EditorFiles\FSharp.PowerPack.dll" DiskId="1" />
                            <File Id="FSharp.Core.dll" Name="FSharp.Core.dll" Source="EditorFiles\FSharp.Core.dll" DiskId="1" />
                            <File Id="extension.vsixmanifest" Name="extension.vsixmanifest" Source="EditorFiles\extension.vsixmanifest" DiskId="1" />
                            <RegistryValue Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0\ExtensionManager\EnabledExtensions" Name="NDjangoDesigner...c025f4a8-7b64-4151-a02b-2211842d078f,1.0" Type="string" Value="C:\Users\kskrygan\AppData\Local\Microsoft\VisualStudio\10.0\Extensions\Hill30\NDjangoDesigner\" KeyPath="yes" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="Hill30" Name="Hill30">
                    <Directory Id="INSTALLDIR" Name="NDjango">
                        <Directory Id="VersionDir" Name=".NET35">
                            <Component Id="NDjangoAssemblies" Guid="94965855-72E6-4B54-AA9F-E1DB5263F89D">
                                <File Id="ASPMVCIntegration.dll" Name="$(var.ASPMVCIntegration2008.TargetFileName)" Source="$(var.ASPMVCIntegration2008.TargetPath)" />
                                <File Id="NDjango.Core.dll" Name="$(var.NDjangoParser2008.TargetFileName)" Source="$(var.NDjangoParser2008.TargetPath)" />
                                <File Id="NDjango.Filters.dll" Name="$(var.NDjangoParserFilters2008.TargetFileName)" Source="$(var.NDjangoParserFilters2008.TargetPath)" />
                                <RegistryValue Root="HKLM" Key="Software\Hill30\NDjango" Name="InstallDir" Type="string" Value="[VersionDir]" KeyPath="yes" />
                            </Component>
                            <Component Id="Readme" Guid="39D6280B-D600-4A8E-A929-62578C3CA890">
                                <File Id="Readme.txt" Name="Readme.txt" Source="Readme.txt" />
                            </Component>
                            <Component Id="ReleaseNotes" Guid="0B12A82D-47CE-4334-A3C6-C02AA10AB12A">
                                <File Id="ReleaseNotes.htm" Name="ReleaseNotes.htm" Source="..\ReleaseNotes.htm" />
                            </Component>
                            <Component Id="ThirdPartyComponents" Guid="B5E34D54-3914-4851-8602-19311D415912">
                                <File Id="StructureMap.dll" Name="StructureMap.dll" Source="..\..\Integration\ASP.MVC\lib\StructureMap.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="VS2008ITEMTEMPLATESLOCATION">
                <Directory Id="vs2008CSharpItem" Name="Visual C#">
                    <Directory Id="vs2008Web1Item" Name="Web">
                        <Component Id="ItemTemplates" Guid="27EF94C3-D513-4D79-B1BE-9401266B4319">
                            <RemoveFolder Id="vs2008Web1Item" Directory="vs2008Web1Item" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="Software\Hill30\NDjango\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                            <File Id="NDjangoTemplate" Name="NDjangoTemplate.zip" Source="Templates\NDjangoTemplate.zip" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="VS2008PROJECTTEMPLATESLOCATION">
                <Directory Id="vs2008CSharp" Name="Visual C#">
                    <Directory Id="vs2008Web1" Name="Web">
                        <Component Id="ProjectTemplates" Guid="F12101E4-615A-418F-9665-1D5C7B4ED5B8">
                            <RemoveFolder Id="vs2008Web1" Directory="vs2008Web1" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="Software\Hill30\NDjango\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                            <File Id="NDjangoMVC" Name="NDjangoMVC.zip" Source="Templates\NDjangoMVC.zip" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Component Id="RegisterDjangoExtensionForHTMLEditor" Guid="02D1F592-DC45-4019-9551-9CDFC6F43F4F">
                <!--<RegistryKey Key="SOFTWARE\Microsoft\VisualStudio\9.0\Editors\{C76D83F8-A489-11D0-8195-00A0C91BBEE3}\Extensions" Root="HKLM">
          <RegistryValue Name="django" Value="40" Type="integer" />
        </RegistryKey>-->
                <RegistryKey Key="Software\Microsoft\VisualStudio\9.0\Default Editors\django" Root="HKCU">
                    <RegistryValue Name="Custom" Value="{C76D83F8-A489-11D0-8195-00A0C91BBEE3}" Type="string" />
                    <RegistryValue Name="Type" Value="1" Type="integer" />
                </RegistryKey>
                <RegistryKey Key="Software\Microsoft\VisualStudio\9.0\FileExtensionMapping\django" Root="HKCU">
                    <RegistryValue Name="(Default)" Value="{C76D83F8-A489-11D0-8195-00A0C91BBEE3}" Type="string" />
                    <RegistryValue Name="LogViewID" Value="{00000000-0000-0000-0000-000000000000}" Type="string" />
                </RegistryKey>
            </Component>
        </Directory>
        <Binary Id="EditTemplates" SourceFile="versionWriterFull.exe" />
        <Property Id="TEMPLATESNEEDED" Secure="yes" />
        <Feature Id="InstallTemplates" Level="1">
            <ComponentRef Id="ProjectTemplates" />
            <ComponentRef Id="ItemTemplates" />
        </Feature>
        <Feature Id="ProductFeature" Level="1">
            <ComponentRef Id="NDjangoAssemblies" />
            <ComponentRef Id="RegisterDjangoExtensionForHTMLEditor" />
            <ComponentRef Id="Readme" />
            <ComponentRef Id="ReleaseNotes" />
            <ComponentRef Id="ThirdPartyComponents" />
            <ComponentRef Id="NDjangoDesignerFiles" />
        </Feature>
        <CustomAction Id="UninstallDesignerFiles" Directory="EXTENSIONSHILL30" ExeCommand="&quot;cmd.exe&quot; /c rmdir /s /q &quot;NDjangoDesigner&quot;" Return="ignore" />
        <Property Id="DESIGNERNEEDED" />
        <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[VS2008PROJECTTEMPLATESLOCATION]\Visual C#\Web\NDjangoMVC.zip&quot; &quot;[VersionDir]&quot;" Id="EditNDjangoTemplate" Return="ignore" />
        <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[ENV_DIR2008]ProjectTemplates\Bistro\BistroProject2008.zip&quot;" Id="EditBistroProject2008CustomAction" Return="ignore" />
        <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[ENV_DIR2008]ProjectTemplates\Bistro\BistroNHibernate2008.zip&quot;" Id="EditBistroNHibernate2008CustomAction" Return="ignore" />
        <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[ENV_DIR2008]ProjectTemplates\Bistro\FSharp2008.zip&quot;" Id="EditFSharp2008CustomAction" Return="ignore" />
        <InstallExecuteSequence>
            <Custom Action="EditNDjangoTemplate" After="InstallFinalize"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND VS2008FOUND]]></Custom>
            <Custom Action="EditBistroProject2008CustomAction" After="InstallFinalize"><![CDATA[Not Installed OR (Installer AND REMOVE <> "ALL")]]></Custom>
            <Custom Action="EditBistroNHibernate2008CustomAction" After="InstallFinalize"><![CDATA[Not Installed OR (Installer AND REMOVE <> "ALL")]]></Custom>
            <Custom Action="EditFSharp2008CustomAction" After="InstallFinalize"><![CDATA[Not Installed OR (Installer AND REMOVE <> "ALL")]]></Custom>
            <Custom Action="UninstallDesignerFiles" After="InstallInitialize"><![CDATA[REMOVE]]></Custom>
            <RemoveExistingProducts After="InstallInitialize" />
        </InstallExecuteSequence>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UI>
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="WelcomeDlgCustom" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlgCustom">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlgCustom">LicenseAccepted = "1"</Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID="1"]]></Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlgCustom" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlgCustom" Order="1">NOT Installed</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
            <Property Id="ARPNOMODIFY" Value="1" />
            <Dialog Id="WelcomeDlgCustom" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Description" Type="Text" X="135" Y="145" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" />
                <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" />
                <Control Type="Text" Width="220" Height="60" X="135" Y="116" Id="FSharpNOTE" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}NOTE: This application requires FSharp 2.0" Hidden="no" />
                <Control Type="Text" Id="Note" Width="192" Height="22" X="135" Y="79" Transparent="yes">
                    <Text>This application was developed for using with .NET Framework 3.5 and Visual Studio 2008</Text>
                </Control>
            </Dialog>
            <Dialog Id="InstallDirDlgCustom" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
                    <Publish Event="AddLocal" Value="ALL">1</Publish>
                    <Publish Event="Remove" Value="InstallTemplates"><![CDATA[ (TEMPLATESNEEDED <> "1") OR (MVCFOUND = NULL) ]]></Publish>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes" Text="!(loc.InstallDirDlgFolderLabel)" />
                <Control Id="Folder" Type="PathEdit" X="20" Y="100" Width="320" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes">
                </Control>
                <Control Id="ChangeFolder" Type="PushButton" X="20" Y="120" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)">
                </Control>
                <Control Type="CheckBox" Id="TemplatesCheckBox" Width="317" Height="17" X="22" Y="149" CheckBoxValue="1" Property="TEMPLATESNEEDED" Text="Install NDjango templates for Visual Studio 2008 (ASP.NET MVC 2 is required)">
                    <Condition Action="enable"><![CDATA[ (VS2008FOUND <> NULL) AND MVCFOUND ]]></Condition>
                    <Condition Action="disable"><![CDATA[ (VS2008FOUND = NULL) OR (MVCFOUND = NULL)]]></Condition>
                </Control>
                <Control Type="CheckBox" Id="DesignerCheckBox" Width="230" Height="17" X="22" Y="169" Property="DESIGNERNEEDED" CheckBoxValue="1" Text="Install NDjango Designer for Visual Studio 2010">
                    <Condition Action="enable"><![CDATA[ VS2010FOUND <> NULL ]]></Condition>
                    <Condition Action="disable"><![CDATA[ VS2010FOUND = NULL ]]></Condition>
                </Control>
            </Dialog>
            <InstallUISequence>
                <Show Dialog="WelcomeDlgCustom" Before="ProgressDlg">NOT Installed</Show>
            </InstallUISequence>
        </UI>
        <UIRef Id="WixUI_Common" />
    </Product>
</Wix>